<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>我的相册 - </title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">我的相册</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">首页 <span class="sr-only">(current)</span></a></li>
        </ul>
        <!-- <!-- TODO 新建相册链接 -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"  data-toggle="modal" data-target="#myModal">
              新建相册
            </a>
          </li>
        </ul>        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<!-- 相册列表 -->
<div class="container">
  <div class="row">
      <% albumNames.forEach(function(albumName){%>
          <div class="col-xs-6 col-md-3">
            <a href="/album?albumName=<%= albumName %>" class="thumbnail">
              <img src="/public/img/icon.png" alt="">
            </a>
            <div class="caption">
              <h3><%= albumName %></h3>
            </div>
          </div>
      <% }) %>
  </div>
</div>

<!-- 新建相册弹层 -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/add" method="get">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">新建相册</h4>
        </div>
        <div class="modal-body">
          <label for="basic-url">相册名称：</label>
          <div class="input-group">
            <!-- <span class="input-group-addon" id="basic-addon3"></span> -->
            <input name="albumName" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" class="btn btn-primary">点击添加</button>
        </div>        
      </form>
    </div>
  </div>
</div>



<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
